iphone/examples/EmbedReader/EmbedReader.xcodeproj/xcuserdata/santiago.xcuserdatad/xcschemes/xcschememanagement.plist
iphone/examples/ReaderSample/ReaderSample.xcodeproj/xcuserdata/santiago.xcuserdatad/xcschemes/xcschememanagement.plist
iphone/examples/TabReader/TabReader.xcodeproj/xcuserdata/santiago.xcuserdatad/xcschemes/xcschememanagement.plist
iphone/examples/readertest/readertest.xcodeproj/xcuserdata/santiago.xcuserdatad/xcschemes/xcschememanagement.plist
iphone/zbar.xcodeproj/project.xcworkspace/contents.xcworkspacedata
iphone/zbar.xcodeproj/project.xcworkspace/xcuserdata/santiago.xcuserdatad/UserInterfaceState.xcuserstate
iphone/zbar.xcodeproj/xcuserdata/santiago.xcuserdatad/xcschemes/xcschememanagement.plist
